* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}
.logo {
    display: flex;
    align-items: center;
    border-radius: 10%;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner2.webp');
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #39aae1;
    font-size: 66px;
    text-shadow: 0px 1px 0px #383838;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
   
}
.banner_title {
    font-size: 21px;

}
.banner_desc,
.hours,
.days {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.banner_options a:hover {
    display: inline-block;
    border: 2px solid #272727;
    padding: 5px;
    color: #272727;
    font-size: 15px;
    text-decoration: none;
}
.dayshours {
    display: flex;
    justify-content: space-between;
    
}
.hours {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#geral {
    display: flex;
    justify-content: center;   
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body  a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.widget_body  a:hover{
    color: #36a9e1;
        
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.departaments_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Departaments_content {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: #0079c7;
    flex: 1;
    color: #fff;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .new_posted_at {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .new_comments {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}
article .new_thumbnail {
    margin-top: 30px;
}
article .new_thumbnail img {
    width: 100%;
    height: auto;
}
article .new_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}
article .new_resume {
    color: #555;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
    flex: 1;
}

.footer_area {
    display: flex;
    padding: 20px;
    
}
.footer_areaitem {
    flex: 1;
    color: #FFF;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: #fff;
}
.footer_copy {
    align-items: center;
    text-align: center;
    border-top: 2px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    margin-top: 30px;
}